</div>
    </div>
    <footer>
      &copy;
      <script>
        const year = new Date().getFullYear()
        document.write(year)
      </script>
      <span>Ryan Hadley</span>  
      <a href="https://www.linkedin.com/in/ryan-had/">
        <img src="images/linkedin.png" alt="LinkedIn logo">
      </a>
      <a href="https://github.com/eaglesTear">
        <img src="images/github.png" alt="GitHub logo">
      </a>
    </footer>
  </body>
</html>